body{
  background-color: whiteSmoke;
}

#header{
  background-color: oliveDrab;
  border: 0.1em solid seaGreen;
  color: paleGoldenRod;
  font-family: 'Montserrat', sans-serif;
  height: 3em;
  position: static;
  text-align: center;
  width: 59.5em;
}

.box{
  background-color: lemonChiffon;
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
  height: 33em;
  margin: 0;
  position: absolute;
  text-align:center;
  width: 20em;
}

#left_box {
  border-left: 0.1em dotted seaGreen;
  margin-top: 0;
}

#left_box .first_p{
  text-align: center;
  font-size: 2em;
}

#left_box .second_p{
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: justify;
}

#left_box img{
  bottom: 3.5em;
  height: 12em;
  left: 3em;
  position: absolute;
  width: 12em;
}

#center_box {
  border-left: 0.1em dotted seaGreen;
  border-right: 0.1em dotted seaGreen;
  left: 20em;
  margin-top: 0;
}

#center_box .first_p{
  text-align: center;
  font-size: 2em;
}

#center_box .phrase{
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: justify;
}

#right_box {
  border-left: 0.1em dotted seaGreen;
  border-right: 0.1em dotted seaGreen;
  left: 40em;
  margin-top: 0;
}

#right_box .first_p{
  text-align: center;
  font-size: 2em;
}

#right_box .second_p{
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: justify;
}

#right_box img{
  bottom: 3.5em;
  height: 12em;
  left: 3em;
  position: absolute;
  width: 12em;
}

footer{
  background-color: oliveDrab;
  border: 0.1em solid seaGreen;
  color: paleGoldenRod;
  display: inline;
  font-size: 1em;
  height: 1.5em;
  position: absolute;
  text-align: center;
  top: 35em;
  width: 59.5em;
}
